[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
beautifulsoup4 = "*"
requests = "*"
markdownify = "*"

[dev-packages]
isort = "*"
black = "*"
ipython = "*"
ipdb = "*"
flake8 = "*"

[pipenv]
allow_prereleases = true
